<table class="btn btn-{{ type }}" cellpadding="0" cellspacing="0">
  <tr>
    <td align="{{ align }}">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <a href="{{ url }}">{{{ title }}} <b style="bottom:1px;display:inline-block;position:relative;margin-left:5px;">→</b></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>