/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #fafafa; // Background color
$white: #ffffff; // Background color
$width: 580px; // Width of the content area
$br: 0px; // Border radius
$btn-br: 4px; // Border radius
$primary-color: #0071BD; // Primary color for buttons and links
$font-color: #1E1E1E; // Default font color
$border-color: #D8D8D8; // Default border color

// Typography
// -------

$body-font-family:          "Open Sans", Helvetica, Arial, sans-serif !default;
$body-font-weight:          400 !default;
$body-font-size:            16px !default;
$body-font-color:           #1E1E1E !default;
$body-line-height:          1.6 !default;

// Notices
// -------

$notice-color-info:         #0071BD !default;
$notice-color-success:      #81ad22 !default;
$notice-color-warning:      #c6a121 !default;
$notice-color-danger:       #be2c2c !default;

$notice-border-radius:      6px !default;
$notice-font-size:          $body-font-size !default;
$notice-font-weight:        $body-font-weight !default;
$notice-line-height:        $body-line-height !default;
$notice-padding:            8px 12px !default;
$notice-margin:             10px 0 !default;

// Dividers
// --------

$divider-margin:			20px 0 !default;
$divider-color:				#ccc !default;