/* -------------------------------------
	GLOBAL RESETS
------------------------------------- */

table,
td,
div,
a {
	box-sizing: border-box;
	border: none;
}

img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	border: 0;
}

body {
	font-family: $body-font-family;
	-webkit-font-smoothing: antialiased;
	font-size: $body-font-size;
	height: 100% !important;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	width: 100% !important;
}

// Let's make sure all tables have defaults
table {
	border-collapse: separate !important;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
	width: 100%;
	
	td {
		font-family: $body-font-family;
		font-size: $body-font-size;
		vertical-align: top;
	}
}

// External class fix for Outlook.com
.ExternalClass {
	width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;
}

.d-block {
	display: block !important;
}