/* -------------------------------------
	RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

@media only screen and (max-width: $width+40) {
	body{
		background-color: $white !important;
	}
	
	.body {
		background-color: $white !important;
	}
}

table[class=body]{
	@media only screen and (max-width: $width+40) {
		
		.header {
			margin-bottom: 14px !important;

			img {
				height: 32px !important;
			}
		}
		
		.color-bar {
			// margin-bottom: 10px !important;
		}
		
		.main {
			box-shadow: none !important;
		}

		.footer {
			border-top: 1px solid $border-color !important;
			background-color: $grey !important;
		}
		
		// Type
		h1,
		h2,
		h3,
		h4 {
			font-weight: 600 !important;
		}
		
		h1 {
			font-size: 22px !important;
		}
		
		h2 {
			font-size: 18px !important;
		}
		
		h3 {
			font-size: 16px !important;
		}
		
		// Spacing
		.content {
			padding: 0 !important;
		}
		
		.wrapper {
			//   padding: 10px !important;
			padding: 20px !important;
		}
		
		.container {
			padding: 0 !important;
			width: 100% !important;
		}
		
		// Buttons
		.btn table,
		.btn a {
			width: 100% !important;
		}
	}
}
