/* -------------------------------------
	TYPOGRAPHY
------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700italic,700,600italic,600,400italic,300italic,300&subset=latin,latin-ext');

h1,
h2,
h3,
h4 {
	color: $font-color !important;
	font-family: $body-font-family;
	font-weight: 400;
	line-height: 1.4em;
	margin: 0;
	margin-bottom: 30px;
}

h1 {
	font-size: 38px;
	text-transform: capitalize;
	font-weight: 300;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: $body-font-size;
	font-weight:500;
}

p,
ul,
ol {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: normal;
	margin: 0;
	margin-bottom: 15px;
	
	li {
		list-style-position: inside;
		margin-left: 5px;
	}
}

a {
	color: $primary-color;
	text-decoration: underline;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
	word-break: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
