<div class="wrapper">
	Copyright @ 2019 Red Orbit. All Rights Reserved.<br/>
	Stegne 13G, 1000 Ljubljana, Slovenia<br/>
	<a href="{{ default.unsubscribe_url }}">Unsubscribe</a><br/>
	<a href="https://www.red-orbit.si"><img src="../src/img/redorbit-symbol.png" height="32" alt="Red Orbit" style="margin-top:10px;"></a>
</div>