<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body" cellpadding="0" cellspacing="0">
	<tr>
		{{!-- <td></td> --}}
		<td class="container">
			<div class="content">
				<span class="preheader">{{ preheader }}</span>
				<div class="header">
					<table cellpadding="0" cellspacing="0">
						<tr>
						<td class="align-center">
							<a href="{{ default.webpage_url }}"><img src="../src/img/redorbit.png" height="40" alt="Red Orbit"></a>
						</td>
						</tr>
					</table>
				</div>
				<table class="main" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<table class="creative" cellpadding="0" cellspacing="0"><tr><td>
								<img class="d-block" src="../src/img/redorbit-color-bar.png" height="10" width="100%"/>
							</td></tr></table>
						</td>
					</tr>
					<tr>
						<td class="wrapper">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td>
										{{ body }}
										{{!-- <br/>
										<p>Regards, Red Orbit team</p> --}}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td class="wrapper align-center">
								Copyright @ 2019 Red Orbit. All Rights Reserved.<br/>
								Stegne 13G, 1000 Ljubljana, Slovenia<br/>
								<a href="{{ default.unsubscribe_url }}" class="unsubscribe">Unsubscribe</a><br/>
								<a href="https://www.red-orbit.si"><img src="../src/img/redorbit-symbol.png" height="32" alt="Red Orbit"></a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</td>
		{{!-- <td></td> --}}
	</tr>
</table>

</body>
</html>
